@model MvcCv.Models.Entity.TblDeneyimlerim
@{
    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Deneyim güncelleme sayfası</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="quickForm" method="post">
                        <div class="card-body">
                            @Html.HiddenFor(x => x.ID, new { @class = "form-control" })
                            <div class="form-group">
                                <label for="Baslik">Başlık</label>
                                @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Alt Başlık</label>
                                @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Tarih</label>
                                @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Açıklama</label>
                                @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn bg-gradient-warning">Güncelle</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
